<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeRight</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
  </head>
    <body>
      {{{body}}}
    </body>
</html>
